.u-section-1 .u-sheet-1 {
  min-height: 887px;
}

.u-section-1 .u-text-1 {
  margin: 15px auto 0;
}

.u-section-1 .u-image-1 {
  width: 330px;
  height: 330px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 91px 60px;
}