 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 718px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 3rem;
  margin-top: 20px;
}

.u-section-1 .u-image-1 {
  width: 320px;
  height: 426px;
  margin: 43px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 28px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    inset: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}